* {
    margin: 0%;
    padding: 0%;
}

header {
    background: rgb(249, 249, 249);
    height: 100px;
}

.wraper {
    width: 80%;
    margin: auto;
}
.header_wraper {
    display: flex;
    justify-content: space-between;
    width: 80%;
    margin: auto;
    align-items: center;
    padding: 29px 0px;
}

.logo {
    width: 20%;
}

nav {
    width: 50%;
}

nav ul {
    display: flex;
    list-style: none;
    text-transform: uppercase;
    justify-content: end;
    font-family: Lato, sans-serif;
    font-weight: 700;
}

nav ul li {
    margin-right: 60px;
}

nav ul li a {
    text-decoration: none;
    color: #2d3950;
}

.banner {
    position: relative;
    

}

.banner_content {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    width: 30%;
}

.banner img {
    width: 100%;
    display: block;
}

.banner_content h1 {
    text-transform: uppercase;
    font-size: 100px;
    margin-bottom: 10px;
    color: white;
    font-weight: 600;
    font-family: Lato, sans-serif;
}

.banner_content h3 {
    color: rgb(255, 255, 255);
    font-weight: 400;
    margin-bottom: 70px;
    font-family: Lato, sans-serif;
}

.banner_content span {
    display: block;
    width: 100%;
    height: 2px;
    background: rgb(21, 164, 250);
    margin-bottom: 40px;
}

.banner_content button {
    background: transparent;
    border: 1px solid rgb(21, 164, 250);
    padding: 17px 50px;
    text-transform: capitalize;
    color: rgb(255, 255, 255);
    font-size: 17px;
    border-radius: 4px;
    font-weight: 400;
}

.arrow {
    position: absolute;
    bottom: 100px;
    left: 50%;
    transform: translate(-50%, 0px);
    color: white;
    animation: 1s updown linear infinite alternate;
    font-size: 25px;
}

@keyframes updown {
    0%{
        bottom: 130px;
    }
    100%{
        bottom: 100px;
    }
}


.arrow a {
    color: white;
}

.banner_content button:hover {
    background-color: rgb(21, 164, 250);
    transition: all 0.5s ease-in-out 0s;
}

.details {
    width: 100%;
    height: 400px;
    background: rgb(246, 249, 249);
}

.details_main {
    width: 70%;
    margin: auto;
    text-align: center;
    padding: 60px 0px;
}

.details_main h1 {
    text-transform: none;
    margin-bottom: 25px;
    font-size: 40px;
    font-weight: 500;
    color: rgb(45, 57, 80);
    font-family: Lato, sans-serif;
    margin-top: 50px;
}

.details_main p {
    color: rgb(153, 153, 153);
    margin: 0px 150px;
    font-size: 20px;
    font-weight: 100;
    font-family: Lato, sans-serif;
}
.icon_wraper{
    display: flex;
    justify-content:space-between ;
}

.phone_icon{
    text-align: center;
    width: 30%;
    margin: 100px 0px;
}
.phone_icon i{
    font-size: 35px;
    margin-bottom: 20px;
    /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#48baff+0,48baff+50,5fc3ff+50,5fc3ff+100 */
    background: linear-gradient(to right,  #48baff 0%,#48baff 50%,#5fc3ff 50%,#5fc3ff 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    padding: 25px 33px;
    color: white;
    width: 30px;
    height: 40px;
}
.phone_icon h2{
    text-transform: capitalize;
    color: #2d3950;
    font-size: 25px;
    font-weight: 400;
    font-family: Lato, sans-serif;
}
.phone_icon p{
    color: #999999;
    font-family: Lato, sans-serif;
    font-weight: 200;
    margin: 15px 65px;
}

.work_section{
    background: #f6f9f9;
    padding: 90px 0px;
}
.gallery_main h2{
    text-transform: capitalize;
    font-size: 47px;
    font-weight: 400;
    text-align: center;
    margin-bottom: 13px;
    color: #2d3950;
    font-family: Lato, sans-serif;
}
.gallery_main p {
    text-align: center;
    font-weight: 400;
    color: #909090;
    font-family: Lato, sans-serif;
    font-size: 18px;
}
.gallery {
    margin-top: 85px;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap ;
}
.work{
    width: 32%;
    margin-bottom: 30px;
    position: relative;
}
.work img{
    width: 100%;
    display: block;
}

.work::before{
    content: '';
    background-color: #25a4f2;
    height: 0%;
    width: 100%;
    top:0;
    right:0;
    position: absolute;
    opacity: 0.8;
    transition: 0.5s  ease-in-out;
}
.work:hover::before{
    height: 100%;

}
